<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384733318766-urf8agb024ld80livug819tbqjf0h7b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384733318766-urf8agb024ld80livug819tbqjf0h7b9</string>
	<key>API_KEY</key>
	<string>AIzaSyCXCPzOlEqBdddUbWq6_LABiWvuhSI3S_8</string>
	<key>GCM_SENDER_ID</key>
	<string>384733318766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-d6c87</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-d6c87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384733318766:ios:c55857366ffe44f4b0207f</string>
</dict>
</plist>